div.movie-card{
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: relative;
    border-radius: 10px;

    .movie-overview, .movie-overview-bg{
      opacity: 0;
    }

    .movie-overview-bg{
      width: 100%;
      height: 100%;
      top: 0%;
      background: rgba(0,0,0, 0.8);
      position: relative;
      overflow-y: scroll;
      -ms-overflow-style: none; 
      scrollbar-width: none; 
      opacity: 0;
      z-index: 6;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      transition: opacity 0.5s ease-in-out;
    }

    .movie-title{
      opacity: 1;
      color: #fff;
      background: #000;
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      bottom: 3.5rem;
      min-height: 3.5rem;
      padding: 0.5rem 0.2rem;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      transition: opacity 0.5s ease-in-out;
    }

    .movie-overview-bg::-webkit-scrollbar{
      display: none;
    }

    &:hover{
      .movie-overview{
        width: 100%;
        height: 100%;
        color: #fff; 
        padding: 0.8rem ;
        position: absolute;
        opacity: 1;
        text-decoration: none;
        transition: opacity 0.7s;
      }

      .movie-overview-bg{
        opacity: 1;
        transition: opacity 0.7s;
      }

      .movie-title{
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
      }
    }

    img{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 10px;
    }
    
    a{
        text-decoration: none;
        margin-right: 0.3rem;
    
        &:hover, &:active{
            color: white;
        }
    }

      .card {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        perspective: 2500px;
        margin: 0rem;
        z-index: 3;
        background: none;
        border: 0;
      }
      
      .cover-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .wrapper {
        transition: all 0.5s;
        position: absolute;
        width: 100%;
        height: 17rem;
        z-index: -1;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        border-bottom: none;
        background: rgb(50,9,11);
        overflow: hidden;
      }
      
      .card:hover .wrapper {
        transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
        box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
      }
      
      .wrapper::before,
      .wrapper::after {
        content: "";
        opacity: 0;
        width: 100%;
        height: 80px;
        transition: all 0.5s;
        position: absolute;
        left: 0;
      }
      .wrapper::before {
        top: 0;
        height: 100%;
        background-image: linear-gradient(
          to top,
          transparent 46%,
          rgba(12, 13, 19, 0.5) 68%,
          rgba(12, 13, 19) 97%
        );
      }
      .wrapper::after {
        bottom: -10px;
        opacity: 1;
        background-image: linear-gradient(
          to bottom,
          transparent 46%,
          rgba(12, 13, 19, 0.5) 68%,
          rgba(12, 13, 19) 97%
        );
      }
      
      .card:hover .wrapper::before,
      .wrapper::after {
        opacity: 1;
      }
      
      .card:hover .wrapper::after {
        height: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .title {
        width: 100%;
        transition: transform 0.5s;
      }

      .card:hover .title {
        transform: translate3d(0%, -50px, 100px);
      }
      
      .character {
        width: 100%;
        opacity: 0;
        transition: all 0.5s;
        position: absolute;
        z-index: -1;
      }
      
      .card:hover .character {
        opacity: 1;
        transform: translate3d(0%, -30%, 100px);
      }      
}

.movie-card > img{
    display: none !important;
}

@media screen and (max-width: 567px){
  section.gallery{
    justify-content: center !important;
  }
}