.movie-link{
    height: 17rem;
}

@media  screen and (max-width: 992px){
    .hero-card .movie-overview, .movie-overview-bg{
        display: none !important;
    }
}

@media screen and (max-width:567px){
    .nav-menu .nav-search-input-container{
        display: none !important;
    }

    .navbar-container .nav-menu li.nav-dropdown-toggler{
        display: none;
    }

    .search-input-container.d-flex{
        display: flex !important;
    }   
}