:root{
    --site-background-color: rgb(45,57,75);
    --site-text-color: rgb(113,174,234);
    --site-text-color-grey: rgb(126,133,110);
    --site-text-orange: rgb(241,184,56)
}

html{
 font-size: 16px;
}

body{
    min-height: 100vh;
    background: #232121;
    font-family: Roboto, 'sans-serif';
    font-weight: bold;
}

h4{
    font-weight: bold !important;
}

.text-grey{
    color: var(--site-text-color);
}

@media screen and (max-width: 992px) {
    html{
        font-size: 62.5% !important;
    }

    .movie-link{
        height: 18rem !important;
        width: 33.33%;
    }
}