.hero {
    height: 18rem;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    width: 100%;

    .hero-main{
        width: 50%;
        max-width: 50%;
        overflow: hidden;
        height: 100%;
        position: relative;
        z-index: 1;
    }

    .hero-main .hero-card,
    .hero-main .hero-card .hero-card-image{
        width: 100%;
    }

    .hero-cards{
        .col-6{
            position: relative;
            height: 100%;
        }

        .hero-card:nth-child(1),
        .hero-card:nth-child(2){
            overflow: hidden;
        }
    }

    .hero-main .hero-card-info{
        bottom: 0rem;
    }
}